$font-family:"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

$background-image-line:url('./images/bgr_body.png');
$logo-image:url('./images/logo.png');


$u2f-main-bg:url('./images/u2f-otp-removebg.png');

$u2f-touch:url('./images/u2f-touch.png');
$u2f-connect:url('./images/u2f-connect.png');

$userlogo:url('./images/userlogo.png');

$u2f-single:url('./images/u2f-single.png');
$otp-single:url('./images/otp-single.png');

$otp-large:url('./images/otp-large.png');


$otp-document:url('./images/document.svg');
$otp-files:url('./images/files.svg');

$otp-refresh:url('./images/refresh.svg');

$done:url('./images/done.svg');